@page "/Sector-Areas"
@using Microsoft.AspNetCore.Authorization
@using Volo.Abp.AspNetCore.Mvc.UI.Layout
@using Steer73.RockIT.Permissions
@using Steer73.RockIT.Web.Pages.PracticeGroups
@using Steer73.RockIT.Web.Menus
@using Microsoft.AspNetCore.Mvc.Localization
@using Steer73.RockIT.Localization
@inject IHtmlLocalizer<RockITResource> L
@inject IAuthorizationService Authorization
@model IndexModel
@inject IPageLayout PageLayout
@{
    PageLayout.Content.Title = L["PracticeAreas"].Value;
    PageLayout.Content.MenuItemName = RockITMenus.PracticeAreas;
}
@section styles
{
    @*//<suite-custom-code-block-1>*@
    @*//</suite-custom-code-block-1>*@
}

@section scripts
{
    <abp-script src="/Pages/PracticeAreas/index.js" />
    @*//<suite-custom-code-block-2>*@
    @*//</suite-custom-code-block-2>*@
}

@section content_toolbar {

    @if (await Authorization.IsGrantedAsync(RockITSharedPermissions.PracticeAreas.Create))
    {
        <abp-button id="NewPracticeAreaButton" text="@L["NewPracticeArea"].Value" icon="plus" size="Small" button-type="Primary" />
    }
    @*//<suite-custom-code-block-3>*@
    @*//</suite-custom-code-block-3>*@
}
<abp-card>
    <abp-card-body>
        <abp-row class="mb-3">
            <abp-column size-md="_12">
                <form id="SearchForm" autocomplete="off">
                    <div class="input-group">
                        <input class="form-control page-search-filter-text" id="FilterText" placeholder="@L["Search"]" />
                        <abp-button button-type="Primary" type="submit" icon="search" />
                    </div>
                </form>
            </abp-column>
            <abp-column size-md="_12" class="mt-3">
                <a href="javascript:;" id="AdvancedFilterSectionToggler" class="text-decoration-none">@L["SeeAdvancedFilters"]</a>
            </abp-column>
        </abp-row>

        <abp-row id="AdvancedFilterSection" style="display: none;">
            <abp-column size="_3">
                <abp-input asp-for="NameFilter" label="@L["PracticeArea"].Value" />
            </abp-column>
            <abp-column size="_3">
                <abp-select asp-for="IsActiveFilter" label="@L["IsActive"].Value" />
            </abp-column>
            @*//<suite-custom-code-block-5>*@
            @*//</suite-custom-code-block-5>*@
        </abp-row>


        <abp-table striped-rows="true" id="PracticeAreasTable">
            
        </abp-table>
    </abp-card-body>
</abp-card>