@using Steer73.RockIT.Localization
@using Steer73.RockIT.Permissions
@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Mvc.Localization
@inject IHtmlLocalizer<RockITResource> L
@inject IAuthorizationService Authorization
@model Guid

<div class="rounded p-3 pb-0 pt-1">
    <ul class="nav nav-tabs" role="tablist">
        @if (await Authorization.IsGrantedAsync(RockITSharedPermissions.PracticeAreas.Default))
    {
        <li class="nav-item" role="presentation">
            <a class="nav-link active" id="PracticeAreas-tab-@Model" data-bs-toggle="tab" data-bs-target="#PracticeArea-@Model" type="button" role="tab" aria-controls="PracticeArea" aria-selected="true">@L["PracticeAreas"]</a>
        </li>
    }
    </ul>
    
    <div class="tab-content pt-0">
        @if (await Authorization.IsGrantedAsync(RockITSharedPermissions.PracticeAreas.Default))
    {
        <div class="tab-pane fade show active" id="PracticeArea-@Model" role="tabpanel" aria-labelledby="PracticeArea-tab-@Model">
            @if (await Authorization.IsGrantedAsync(RockITSharedPermissions.PracticeAreas.Create))
            {
                <button data-practiceGroup-id="@Model" class="btn btn-primary btn-sm float-end mb-3 NewPracticeAreaButton" type="button" data-busy-text="@L["Processing"]">
                    <i class="fa fa-plus"></i> <span>@L["NewPracticeArea"]</span>
                </button>
            }
        
            <table class="table table-striped dataTable no-footer" striped-rows="true" id="PracticeAreasTable-@Model">
                <thead>
                <tr>
                    <th>@L["Actions"]</th>
                    					<th>@L["Name"]</th>
					<th>@L["IsActive"]</th>

                </tr>
                </thead>
            </table>
        </div>
    }
    </div>
</div>
